## Assignment 3 - Time Series

1. Download the adjusted close price for AAPL, INTC, EBAY and AMZN for the last 60 months
2. Select the adjusted monthend close price for each of the stocks.
3. Use pandas autocorrelation_plot() function to plot the autocorrelation of the monthend close prices of each of the stocks.  <i>Are they autocorrelated?  Why or why not?</i>
4. Calculate the monthly return over the period for each stock using the “shift trick” on the lecture slide titled Shifting (Note: you should end up with a time series 59 months long)
5. Plot the autocorrelation of the monthly returns.  <i>Are they autocorrelated?  Why or why not?</i>
6. <i>OPTIONAL: Visualize the correlation between the returns of all pairs of stocks using a scatterplot matrix (1 bonus mark)</i>
7. <i>OPTIONAL: Following the instructions in the article "The Glowing Python"  visualize the correlation of the returns of all pairs of stocks (2 bonus marks)</i>

In [59]:
# the usual boilerplate stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_datareader.data as web
import quandl
quandl.ApiConfig.api_key = 'j1rPJCD2sDK9zg-JE18D'

from dateutil.relativedelta import relativedelta
from datetime import datetime

from IPython.display import HTML, display

plt.ioff()

<b>Step 1 :</b> Download the adjusted close price for AAPL, INTC, EBAY and AMZN for the last 60 months

In [60]:

def get_stock_data(stk, month_count):
    end = datetime.today()
    end = datetime.strptime(end.strftime('%Y-%m-%d'),'%Y-%m-%d')
    start = end - relativedelta(months=60)
    
    print("Returning ",stk,"data for Start and End dates : ", start, end)
    return quandl.get("WIKI/" + s, start_date=start, end_date=end)

Get data for AAPL (Apple)

In [61]:
apple = get_stock_data("AAPL", 60)
display(HTML(apple.head().to_html()))

Returning  AAPL data for Start and End dates :  2013-11-11 00:00:00 2018-11-11 00:00:00

Get data for Intel (INTC)

In [62]:
intel = get_stock_data("INTC", 60)
display(HTML(intel.head().to_html()))

Returning  INTC data for Start and End dates :  2013-11-11 00:00:00 2018-11-11 00:00:00

Get data for EBay (EBAY)

In [63]:
ebay = get_stock_data("EBAY", 60)
display(HTML(ebay.head().to_html()))

Returning  EBAY data for Start and End dates :  2013-11-11 00:00:00 2018-11-11 00:00:00

Get data for Amazon (AMZN)

In [64]:
amazon = get_stock_data("AMZN", 60)
display(HTML(amazon.head().to_html()))

Returning  AMZN data for Start and End dates :  2013-11-11 00:00:00 2018-11-11 00:00:00

Let’s take a look at the columns :<br>
<b>Open</b> is the price of the stock at the beginning of the trading day (it need not be the closing price of the previous trading day)<br>
<b>High</b> is the highest price of the stock on that trading day.<br>
<b>Low</b> is the lowest price of the stock on that trading day.<br>
<b>Close</b>is the price of the stock at closing time.<br>
<b>Volume</b> indicates how many stocks were traded.<br>
<br>Adjusted prices (such as the adjusted close) is the price of the stock that adjusts the price for corporate actions. While stock prices are considered to be set mostly by traders, stock splits (when the company makes each extant stock worth two and halves the price) and dividends (payout of company profits per share) also affect the price of a stock and should be accounted for.

<b>Step 2 : </b> Select the adjusted monthend close price for each of the stocks.